<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <!-- 
       Copyright 2018 Benjamin Blais
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License. 
    -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ben Blais - Software Engineer</title>

  <link rel="stylesheet" type="text/css" href="/lib/css/main.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/link-bar.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/article.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/social-button.css">

  <style>
  </style>

 </head>
 <body>
 <div class="template-content-wrapper">
     {{include(pageIncludes/link-bar.html)}}

     <div class="main-content">
      {{ content | safe }}
     </div>

 </div>
 </body>
</html>
