<!DOCTYPE html>
<html>
 <head>
	<meta charset="UTF-8">
		<!-- 
			 Copyright 2019 Benjamin Blais
			 Licensed under the Apache License, Version 2.0 (the "License");
			 you may not use this file except in compliance with the License. 
		-->

	<!-- Meta tags for social media -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta property="og:title" content="Ben Blais - Software Engineer">
	<meta property="og:description" content="Personal Website of Benjamin Blais">
	<meta property="og:image" content="https://benblais.dev/lib/images/profile_pic.jpg">

	<!-- Meta tags for twitter -->
	<meta name="twitter:card" content="summary_large_image">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/lib/css/main.css">
	<link rel="stylesheet" type="text/css" href="/lib/css/header.css">
	<link rel="stylesheet" type="text/css" href="/lib/css/text.css">
	<link rel="stylesheet" type="text/css" href="/lib/css/theme.css">
	<link rel="stylesheet" type="text/css" href="/lib/css/nav.css">
	<link rel="stylesheet" type="text/css" href="/lib/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/lib/css/accessability.css">

	<title>Benjamin Blais - Software Engineer</title>
 </head>
 <body>
	<header class="header">
		<p class="skip-to-main"><a href="#main-content">Skip to Main Content</a></p>
		<svg viewBox="0 0 260 250" class="logo" role="img">
			<title it="atBenTitle">Ben Blais Logo</title>
			<desc id="atBenDesc">The letter 'B' stylized to look like an at sign</desc>
			<use xlink:href="/lib/images/BenWeb_logo.svg#atben"></use>
		</svg>
		<h1>Benjamin Blais</h1>
		<h2>Software Engineer</h2>
		<nav class="nav">
			<label>
				<input aria-label="Open Navigation" tabindex="0" type="checkbox">
				<p class="nav-arrow"><span aria-label="Nav Button" aria-hidden="true" role="image">⮛</span></p>
				<p><a href="https://blog.benblais.com" target="_blank">Blog</a></p>
				<p><a href="/projects">Projects</a></p>
				<p><a href="/uses">Gear</a></p>
				<p><a href="/">About Ben</a></p>
			</label>
		</nav>
	</header>
	<main id="main-content" class="main">{{content | safe}}</main>
	<footer class="footer">
		<p>&copy; 2020 Benjamin Blais</p>

		<!-- Social Icons -->
		<p>
			<a class="social-badge" href="https://twitter.com/benblais" target="_blank">
				<svg viewBox="0 0 24 24" role="img">
					<title>Ben Blais on twitter</title>
					<use xlink:href="/lib/images/twitter.svg#twitter"></use>
				</svg>
			</a>
			<a class="social-badge" href="https://github.com/bblais23" target="_blank">
				<svg viewBox="0 0 24 24" role="img">
					<title>Ben Blais on GitHub</title>
					<use xlink:href="/lib/images/github.svg#github"></use>
				</svg>
			</a>
		</p>
		<p>
			Source code Licensed under the 
			<a target="_blank" href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a>
		</p>
		<p>
			Michael Font (header) is licenced under the 
			<a target="_blank" href="https://creativemarket.com/licenses/terms/fonts">Createive Market License (Webfont)</a>
		</p>
		<p>
			All other fonts are licenced under the
			<a target="_blank" href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">Open Font Licence (OFL)</a>
		</p>
		<p>
			Background Image, social icons, and logo are licenced under
			<a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution-ShareAlike 4.0 International License
			</a>
		</p>
	</footer>
 </body>
</html>
